<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

# Send the current file through rst2html.py
"${TM_RST2HTML:=rst2html.py}" "$TM_FILEPATH"</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Convert Document to HTML</string>
	<key>outputCaret</key>
	<string>interpolateByLine</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>replaceDocument</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>rst2html.py</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/rst2html.py</string>
				<string>/usr/local/bin/rst2html.py</string>
			</array>
			<key>variable</key>
			<string>TM_RST2HTML</string>
		</dict>
	</array>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>43F50126-B6DE-4B92-84DC-8600C0772CDB</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
