<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env bash

if [[ -f "$TM_DIRECTORY/default.css" ]]
	then stylesheet="$TM_DIRECTORY/default.css"
elif [[ -f "$TM_PROJECT_DIRECTORY/default.css" ]]
	then stylesheet="$TM_PROJECT_DIRECTORY/default.css"
else
	css=`mktemp -t /tmp`
	echo 'body {	
		background-color: #eee;
	}
	.document {
		background: white;
		font-family: Georgia, serif;
		font-size: 13px;
		border: 1px #888 solid;
		padding: 0 1em;
	}' &gt; $css
	stylesheet=$css
	tmpCreated="yes"
fi

if [[ -n $stylesheet ]]
	then flags="--embed-stylesheet --stylesheet=$stylesheet"
	else flags=""
fi

"${TM_RST2HTML:=rst2html.py}" $flags "$TM_FILEPATH"

if [[ -n $css ]]
	then rm $css
fi</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>rst2html.py</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/rst2html.py</string>
				<string>/usr/local/bin/rst2html.py</string>
			</array>
			<key>variable</key>
			<string>TM_RST2HTML</string>
		</dict>
	</array>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>7A099026-D785-48D9-ACAD-318ECF2A3BE4</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
