<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>captureFormatString</key>
	<string>Line: $2 Error: "$3"</string>
	<key>capturePattern</key>
	<string>^(.+):(\d+): (.+)</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# Send the current file through rst2html.py
"${TM_RST2HTML:=rst2html.py}" "$TM_FILEPATH" 1&gt;/dev/null|pre</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>rst2html.py</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/rst2html.py</string>
				<string>/usr/local/bin/rst2html.py</string>
			</array>
			<key>variable</key>
			<string>TM_RST2HTML</string>
		</dict>
	</array>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>10B4E8D0-91DC-4764-9237-64009560BF3B</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
